/* HOME - WELCOME PAGE CSS FILE */

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 2rem;
}

.welcome-page-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-started-buttons {
  display: flex;
  gap: 1rem;
}